.footer {
    border: none;
    border-top: 1px solid #334155;
    color: #e1dddf;
    padding: 20px;
    font-family: "Varela Round", sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;
}

/* Sección de Contacto, Redes y Legal */
.footer-section {
    flex: 1;
    min-width: 200px;
}

.footer-section h3 {
    margin-bottom: 10px;
    color: #facc15;
    font-weight: bold;
}

/* Enlaces */
.footer-section a {
    color: #e1dddf;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section a:hover {
    color: #facc15;
}

/* Iconos de Redes Sociales */
.social-icons a {
    font-size: 24px;
    margin: 0 8px;
    transition: transform 0.3s;
}

.social-icons a:hover {
    transform: scale(1.2);
}

/* Línea divisoria */
hr {
    border: none;
    border-top: 1px solid #334155;
    margin: 10px 0;
}

/* Texto inferior */
.footer-bottom {
    text-align: center;
    font-size: 14px;
    color: #94a3b8;
    margin-top: 10px;
}
