.hero {
    text-align: center;
    color: #E1DDDF;
    font-family: "Varela Round", sans-serif;
    margin-top: 5px;  /* ✅ Aumenta el espacio entre el navbar y el Hero */
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Espacio entre el texto y el ícono */
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #E1DDDF;
}

.explore-btn {
    background-color: #3d041b;
    color: #E1DDDF;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.explore-btn:hover {
    background-color: #27272a;
    transform: scale(1.05);
}
